#table {
  max-width: 1200px;
}

#table td {
  position: relative;
}

.input {
  text-transform: uppercase;
  max-width: 20px;
}

.span {
  position: absolute;
  right: 5px;
  color: white;
  font-weight: bold;
}

#result {
  word-break: break-word;
}

.highlight {
  background-color: red;
}

.success {
  background-color: green;
}
